$primary-color:#0A6CFF;
$background-color-base: #EDF1F7;
$border-color:#edf1f7;
$table-body-border-color:#edf1f7;
$table-border-color:#edf1f7;
$text-color-primary:#1E304A;
$text-color-sub1:#4C5C73;
$text-color-code:#4A5970;